version: '3.4'

services:
  GatewayApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:gatewayapi
    build:
      context: .
      dockerfile: WebApis/GatewayApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/gateway:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${GATEWAY_PORT}:5000"
    restart: always

  AuthApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:authapi
    build:
      context: .
      dockerfile: WebApis/AuthApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/auth:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${AUTH_PORT}:5001"
    restart: always
    
  CloudApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:cloudapi
    build:
      context: .
      dockerfile: WebApis/CloudApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/cloud:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${CLOUD_PORT}:5002"
    restart: always

  ReferenceBookApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:referencebookapi
    build:
      context: .
      dockerfile: WebApis/ReferenceBookApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/referencebook:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${REFERENCEBOOK_PORT}:5003"
    restart: always

  MosqueApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:mosqueapi
    build:
      context: .
      dockerfile: WebApis/MosqueApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/mosque:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${MOSQUE_PORT}:5004"
    restart: always

  PrayerTimeApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:prayertimeapi
    build:
      context: .
      dockerfile: WebApis/PrayerTimeApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/prayertime:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${PRAYERTIME_PORT}:5005"
    restart: always

  QuranCourseApi:
    image: ihda_back/${IMAGE_BRANCH:-master}:qurancourseapi
    build:
      context: .
      dockerfile: WebApis/QuranCourseApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - EXTERNAL_CONFIG_PATH=${EXTERNAL_CONFIG_PATH}
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "${LOG_PATH}/qurancourse:/app/logs"
      - "${EXTERNAL_CONFIG_PATH}:${EXTERNAL_CONFIG_PATH}"
      - ./Domain/WebCore/GeneralSettings.json:/app/Domain/WebCore/GeneralSettings.json:ro
    ports:
      - "${QURANCOURSE_PORT}:5006"
    restart: always

  RedisCache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - "${MINIO_STORAGE_PATH}:/data"

volumes:
  postgres-data:
  minio-data: